<ul class="nav nav-tabs">
  <li class="nav-item">
    <a routerLink="/home" class="nav-link" routerLinkActive="active">home</a>
  </li>
  <li class="nav-item">
    <a routerLink="/api" class="nav-link" routerLinkActive="active">api</a>
  </li>
</ul>

<router-outlet></router-outlet>

<hr />

App counterFromRight: <app-the-counter [counter]="counterFromRight"></app-the-counter>
<br /><br />
<app-the-counter [counter]="globalCounterValue"></app-the-counter> |
globalCounterValue :
<app-the-counter [counter]="globalCounterService.globalCounter"></app-the-counter>
<br /><br />

<app-top></app-top>
<hr />
<app-left></app-left>
<hr />
<app-right (eventRight)="getValueFromRight($event)"></app-right>
<hr />


<button type="button" appThrottleThis [limit]="100">throttle this button</button>

<button type="button" appThrottleThis [limit]="400">throttle this button</button>
<button type="button" appThrottleThis [limit]="200">throttle this button</button>
<button type="button" appThrottleThis [limit]="400">throttle this button</button>